
#from_editar{
	position: relative;
	_border: solid 1px #242f3a;
	border-radius: 5px;
}
#from_editar{
	margin: auto;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
#from_editar{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#from_editar{
	_width: 100%;
}

#footer{
  	background-color: #242f3a;
    width: 100%;
    height: 237px;
  	position: relative;
    color: #fff;
}

/*Menu vertical para el administrador*/
.list-group-item{
	border: solid 1px #242f3a;
	border-bottom: solid 1px #242f3a;
}
a.list-group-item {
	position: relative;
	height: 70px;
	padding-top: 23px;
}

a.list-group-item:hover{
	background-color: #242f3a;
	color: #fff;
}
/*fin mMenu vertical para el administrador*/

.panel, .panel-default{

	border: solid 1px #242f3a;
}

.panel-default > .panel-heading{
	border-bottom: solid 1px #242f3a;
}

.infoUser1{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.infoUser2{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.infoUser3{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.infoUser1{
	_background-color: blue;
	float: left;
	width: 30%;
}
.infoUser2{
	_background-color: red;
	float: left;
	width: 30%;
}
.infoUser3{
	_background-color: black;
	float: left;
	width: 40%;
}
.divsInfoUser{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.divsInfoUser{
	_background-color: black;
	overflow: hidden;
}
.buttonsEditar{
	position: relative;
	left: 20px;
}

#bt_cerrar{
	background-color: #787878;
	color: #fff;
}
/*
.aside{
	float: left;
  	width: 23%;
}
*/
